***************** NAVBAR ****************/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 50px;*/
  /*font-weight: 120;*/
  padding-bottom: 50px;
}

/*Font Overrides*/
/*Find better font.*/
h1, h2, h3, h4, h5, h6 {
  color: #737373;
  font-family: 'Raleway', sans-serif;
  /*font-weight: 100; */
}
p, div {
  font-family: 'Raleway', sans-serif;
  /*font-weight: 100; */
}

.block-wrapper{
  /*tbh i have no idea what this does >___<*/
  position: relative;
}

/****************** NAVBAR ****************/
.navbar{
  /*background-color: #E0FFE0;*/
  /*position: fixed;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 0px;
  border: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #FF66FF;
}

.navbar-btn{
  margin-top: 0px;
  padding-top: 5px;
  padding-left:10px;
  padding-right:10px;
}

.navbar .btn{
  font-size: 18px;
  font-weight: 100;
  padding: 5px 15px;
}

.navbar-nav {
  padding-top: 10px;
}
  
.btn-info {
  background-color: #FF66FF;
  border-color: #FF66FF;
}

.btn-info:hover{
  background-color: #CC7ACC;
  border-color: #CC7ACC;
}

.navbar-brand{
  /*font-family: 'Mr Dafoe', cursive;*/
  font-size: 18px;
  font-weight: 100;
}


/****************** PANES ****************/
.pane{
  padding: 100px 50px;
  color: #737373;
  /*margin: 100px 100px;*/
}

.pane h1{
  text-align: left;
  font-size: 55px;
  font-weight: 100;
}

.pane h2{
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}

.pane h3{
  text-align: left;
  font-size: 24px;
  font-weight: 100;
}

.pane.light
{
}

.pane.dark
{
  background-image: url("../img/splash-bg.jpg");
  background-color: #000000;
  /*color: #FFADFF;*/
}

.pane.about{
  padding: 0px 50px;
}

/****************** FOOTER ****************/
#footer {
  position: fixed;
  /*padding: 1em;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  /*background-color: #FFF0FF;*/
}

#footer .footer-container {
  height: 50px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5px
}

#footer .footer-container ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

#footer .footer-container li{
  float: left;
}

#footer .footer-container a{
  color: #949494;
  display: block;
  /*top and bottom & left and right padding*/
  padding: 5px 10px;
  /*width: 60px;*/
  /*background-color: #dddddd;*/
}

/****************** DASHBOARD ****************/
#dashboard .pane{
  padding: 0px 0px;
  background-color: white;
}

#dashboard div#left {
  width: 50%;
  height: 300px;
  float: left;
  /*background-color: #949494;*/
}
#dashboard div#right {
  margin-left: 50%;
  height: 300px;
  /*background-color: #949494;*/
}

#dashboard .dash-button{
  height:30%; 
  width:20%; 
  position:relative;
  top:40%; 
  left:40%;
}

#dashboard .dash-button .btn{
  font-size: 30px;
  font-weight: 10;
  padding: 15px 30px;
}

/****************** FORMS ****************/
.f2f-form{
  background-color: #CCCCCC;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 18px;
}
.f2f-form h1{
  text-align: center;
}
.f2f-form .container {
  padding-top: 10px;
  padding-bottom: 20px;
}

form {
  width: 450px;
  margin: 17% auto;
}


/****************** Sign Up - Form ****************/
.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
  display: flex;
  align-items: center;

}


.button {
  height: 44px;
  border: none;
}

  
#email {
  font-size: 18px;
  width: 60%;
  background: #FDFCFB;
  /*font-family: inherit;*/
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  /*outline: none;*/
  /*outline: 1px solid #FF66FF;*/
  /*box-shadow: 0px 0px 10px #FF66FF;*/
  border: 2px solid #FF66FF;
  /*box-shadow: 0 0 5px #CC7ACC;*/
}


#submit {
  font-size: 18px;
  width: 35%;
  height: 46px;
  background: #FF66FF;
  /*font-family: inherit;*/
  /*font-weight: bold;*/
  color: white;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #CC7ACC;
}
  
input:focus {
  outline: none;
  outline: 2px solid #FF66FF;
  box-shadow: 0 0 5px #CC7ACC;
}

#homepage .pane{
  padding: 60px 50px;
}

#homepage div#left {
  width: 50%;
  height: 400px;
  float: left;
}

#homepage div#right {
  padding-left: 40px;
  margin-left: 50%;
  height: 400px;
}

#homepage div#right img{
    max-width: 100%;
    max-height: 100%;
}

/*I literally can't stop listening to "Love me like you do"