/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/*Footer CSS*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#footer .container li{
  float: left;
}

#footer .container a{
  display: block;
  width: 70px;
  /*background-color: #dddddd;*/
}
