***************** NAVBAR ****************/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  font-weight: 120;
}

/*Font Overrides*/
/*Find better font.*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 100; 
}
p, div {
    font-family: 'PT Sans', sans-serif;
    font-weight: 100; 
}

.block-wrapper{
  /*tbh i have no idea what this does >___<*/
  position: relative;
}

/****************** NAVBAR ****************/
.navbar{
  /*background-color: #E0FFE0;*/
  /*position: fixed;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 0px;
  border: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFADFF;
}

.navbar-btn{
  margin-top: 0px;
  padding-top: 5px;
  padding-left:10px;
  padding-right:10px;
}

.navbar .btn{
  font-size: 18px;
  font-weight: 100;
  padding: 5px 15px;
}

.navbar-nav {
  padding-top: 25px;
}
  
.btn-info {
  background-color: #FFADFF;
  border-color: #FFADFF;
}

.btn-info:hover{
  background-color: #CC7ACC;
  border-color: #CC7ACC;
}

.navbar-brand{
  /*font-family: 'Mr Dafoe', cursive;*/
  font-size: 18px;
  font-weight: 100;
}


/****************** PANES ****************/
.pane{
  padding: 100px 100px;
  /*margin: 100px 100px;*/
}

.pane h1{
  text-align: left;
  font-size: 48px;
  font-weight: 80;
}

.pane h2{
  text-align: left;
  font-size: 24px;
  font-weight: 80;
}

.pane.light
{
}

.pane.dark
{
  background-color: #E1F7FA;
}


/****************** FOOTER ****************/
#footer {
  position: fixed;
  /*padding: 1em;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  /*background-color: #FFF0FF;*/
}

#footer .footer-container {
  height: 50px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5px
}

#footer .footer-container ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

#footer .footer-container li{
  float: left;
}

#footer .footer-container a{
  color: #949494;
  display: block;
  /*top and bottom & left and right padding*/
  padding: 5px 10px;
  /*width: 60px;*/
  /*background-color: #dddddd;*/
}

/****************** DASHBOARD ****************/
#dashboard .pane{
  padding: 0px 0px;
  background-color: #E1F7FA;
}

#dashboard div#left {
  width: 50%;
  height: 300px;
  float: left;
  background-color: #949494;
}
#dashboard div#right {
  margin-left: 50%;
  height: 300px;
  background-color: #949494;
}

#dashboard .dash-button{
  height:30%; 
  width:20%; 
  position:relative;
  top:40%; 
  left:40%;
}

#dashboard .dash-button .btn{
  font-size: 30px;
  font-weight: 10;
  padding: 15px 30px;
}

/****************** FORMS ****************/
.f2f-form{
  background-color: #CCCCCC;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 18px;
}
.f2f-form h1{
  text-align: center;
}
.f2f-form .container {
  padding-top: 10px;
  padding-bottom: 20px;
}

/*I literally can't stop listening to "Love me like you do"