{% extends "base.html" %}

{% block content %}
<section class="pane about">
	<h1>About</h1>
	<h4>Face2Face is a revolutionary application that will disrupt cooking as we know it. The company's origin story has since become the stuff of legends; one day, Yale Junior Computer Science Major Eric Ho, as he sat in his room wishing he could cook more than ramen and eggs, wished he could ONLY see what other, more accomplished chefs were doing at the moment. Meanwhile Brian, an accomplished cook, sat in HIS room wishing that someone would pay him for livestreaming the dinner he would cook EVERY night. The next day, the two met in a study room in Bass library, and the rest is history. Face2Face was born, and the pair quickly added three Associates, ready to revolutionize an industry.</h4>
</section>
{% endblock %}