<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Face to Face</title>

		<!-- CSS -->
		<link rel="stylesheet" href="assets/stylesheets/reset.css">
		<link rel="stylesheet" href="assets/stylesheets/main.css">
		<link href="../static/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->

		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
		<script src="../static/js/bootstrap.min.js"></script>

	</head>

	<body>
		{% include "header.html" %}
		{% block content %}
		{% endblock %}
	</body>
</html>
