<!-- add credits to account -->

{% extends "base.html" %}

{% block content %}
<div class="container">

	<center>
    <h2>Your current account balance is: {{ currentcredits }}</h2>
    <h2>How much would you like to add to your account?</h2>
  		<form action="" method="post">
        <input type="radio" name="amount" value="5">$5<br>
        <input type="radio" name="amount" value="10">$10<br>
        <input type="radio" name="amount" value="15">$15<br>
        <input type="radio" name="amount" value="20">$20<br>
        <br>
        <input class="btn btn-default" type="submit" value="add credit">
     	</form>

	</center>

</div>

{% endblock %}