<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
<!-- 					<span class="icon-bar"></span>
			<span class="icon-bar"></span> -->
			</button>
			<!-- class="navbar-brand" -->
			<a  href = "/index">
			  <img src="../static/img/logo.png" alt="logo" style="width:60px;height:60px;border:0">
			</a>
			<!-- <a class="navbar-brand" href="/index">FaceToFace</a> -->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

				<!-- Dashboard -->

				<!-- Should Only Render when Logged In -->
				<li>
					<a href="/about">about</a>
				</li>

				<li>
					<a href="/team">team</a>
				</li>

				<li>
					<a href="/dashboard">dashboard</a>
				</li>

				<li>
					<a href="/host">host</a>
				</li>

				<li>
					<a href="/addcredits">add credits</a>
				</li>

	            <li>
	            	{% if current_user.is_authenticated() %}
	            		<p class="navbar-btn">
		                    <a href="/logout" class="btn btn-info">logout</a>
		                </p>
	            	{% else %}
		                <p class="navbar-btn">
		                    <a href="/login" class="btn btn-info">login</a>
		                </p>
		            {% endif %}
	            </li>

			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>