{% extends "base.html" %}
{% block content %}

<div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post" name="login">
        <p>
          Please enter your username:<br>
          {{ form.username(size=80) }}<br>
        </p>
        <p>
          Please enter your password:<br>
          {{ form.password(size=80) }}<br>
        </p>
        <p>
          {{ form.remember_me }} Remember me<br>
        </p>
        <p><input type="submit" value="Sign In"></p>  
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
      </form> 

</div>

<div class="container">
  Don't have an account? Create one <a href="/register">here</a>.
</div>

{% endblock %}