<!-- Base Template for Face2Face -->
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Face2face</title>

		<!-- CSS -->
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/styles.css">
		<link href="../static/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->
		<!-- last file takes precendence -->
		<link rel="stylesheet" href="../static/css/main.css"> 
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>

	</head>

	<body>
		
		<div class="splash fade-in">
			<h1 class="splash-title">Face2Face</h1>
			<a href="#" class="splash-arrow"><img src="../static/img/down-arrow.png" alt="" /></a>
		</div>
		<div class="wrapper">

		<!-- header -->
		{% include "header.html" %}

		<!-- web page contents go here -->
		<div class="block-wrapper">  
			<!-- {% include "index.html" %} -->
		</div>
		
		<!-- footer -->
		{% include "footer.html"%}
		
		<!-- Bootstrap core Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
		<script src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>
	
</html>
