{% extends "base.html" %}



{% block content %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&subset=latin,latin-ext' 
rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/team.css">

<div id="teampage">
  <ul class="responsive_grid">
    <li>
      <div class="team_member">
         <div class="info">
           <img src="../static/img/eric.jpg" alt=""/>
           <h5>Eric Ho</h5>
           <h6>CEO</h6> 
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Eric Ho</h6>
          <p><a href="mailto:address@addresss.com">eric.ho@yale.edu</a></p>
          <p>(123) 555-1234 x1100</p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
         <div class="info">
           <img src="../static/img/soy.jpg" alt=""/>
           <h5>Soy Lee</h5>
           <h6>Associate</h6> 
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Soy Lee</h6>
          <p><a href="mailto:address@addresss.com">seoyun.lee@yale.edu</a></p>
          <p>(123) 555-1234 x1100</p>
        </div>
      </div>
    </li>
    
      <li>
      <div class="team_member">
         <div class="info">
           <img src="../static/img/david.jpg" alt=""/>
           <h5>David Roeca</h5>
           <h6>Associate</h6> 
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>David Roeca</h6>
          <p><a href="mailto:address@addresss.com">david.roeca@yale.edu</a></p>
          <p>(123) 555-1234 x1100</p>
        </div>
      </div>
    </li>
    <li>
      <div class="team_member">
         <div class="info">
           <img src="../static/img/tony.jpg" alt=""/>
           <h5>Anthony Fumagalli</h5>
           <h6>Associate</h6> 
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Anthony Fumagalli</h6>
          <p><a href="mailto:address@addresss.com">anthony.funagalli@yale.edu</a></p>
          <p>(123) 555-1234 x1100</p>
        </div>
      </div>
    </li>

      <li>
      <div class="team_member">
         <div class="info">
           <img src="../static/img/brian.jpg" alt=""/>
           <h5>Brian Li</h5>
           <h6>Associate</h6> 
        </div>
        <div class="info_reveal">
          <h6>Contact<br/>Brian Li</h6>
          <p><a href="mailto:address@addresss.com">brian.li@yale.edu</a></p>
          <p>(123) 555-1234 x1100</p>
        </div>
      </div>
    </li>
  </ul>
</div>

{% endblock %}